:root {
    --white: #d3d3d3;
    --black: #202020;
    --purple: #9b399b;
    --purple2: #af56af;
}

body {
    background-image: url('../img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;

    font-family:'Courier New', Courier, monospace
}

.shadow {
    background-color: #202020d5;
}

header {
    padding: 3rem 0px 1rem;
}

header h1 {
    text-align: center;
    font-size: 3rem;
    color: var(--white);
    text-shadow: 1px 1px 5px var(--purple);
}

header p {
    text-align: center;
    color: var(--white);
    font-style: italic;
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px var(--purple);
}



main {
    background-color: var(--white);
    color: var(--black);
    padding: 2rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;

    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5), -0.5rem -0.5rem 1rem rgba(0, 0, 0, 0.5);
}

#inputFile {
    max-width: 500px;
    margin: auto;
}

.checkLongo {
    width: 35rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

#filtros {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
    margin: auto;
}

.radioGroup {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;

}

.radioGroup h3 {
    text-align: center;
    margin-bottom: 1.5rem;
}

h3, h2 {
    color: var(--purple);
    font-weight:700;
}

form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .btn-primary {
    margin-top: 2rem;
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

main .btn-primary:hover {
    background-color: var(--purple2);
    border: 1px solid var(--purple2);
}

main .form-check-input:checked {
    background-color: var(--purple);
    border: 1px solid var(--purple);
}

#divRes {
    display: none;
}

.imgRes {
    width: 500px;
    z-index: 10;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 1rem;
    background-color: transparent;

    position: relative;
    left: 250px;
    top: 180px;
    z-index: 20;
}

footer {
    background-color: var(--black);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

footer p {
    margin-bottom: 0px;
}

footer a {
    color: var(--purple);
}

footer a:hover {
    color: var(--purple2);
}

@media (min-width: 900px) {
    #filtros {
        flex-direction: row;
    }
}